*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav h3{
    font-size: 16px ;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;   
}


#nav i{
    font-size: 17px ;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}

#nav h1 i{
    background-color: orangered;
    margin: 0 6px;
    font-size: 17px;
    color: white;
    border: none;
    padding: 6px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}

#btn2{
    background-color: orangered;
    border: none;
    color: white;
}


#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img{
    height: 430px;
    width: 350px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}


#bottom #btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}

#bottom #btm-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
}

#bottom h6{
    position: absolute;
    bottom: 1%;
    right: 2%;
    font-size: 14px;
  
}


#down i{
    padding: 0 9px 13px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 36px;
    font-weight: 100;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}