*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* some property related to text  */
h1{
    color: saddlebrown;
    background-color: yellow;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

#box{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 98, 255);
    /* margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px; */

    margin: 40px;
    padding: 20px;
}

#btn{
    margin: 0 50px 0 50px;
    padding: 6px;
    font-size: 20px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    background-color: transparent;
}

#btn:hover{
    border-radius:20px ;
    background-color: lightgreen;
}

#boxDiv{
    height: 200px;
    width: 200px;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centerH1{
    color: lightseagreen;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#parent{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#child1{
    height: 200px;
    width: 200px;
    background-color: salmon;
}
#child2{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
}
#child3{
    height: 200px;
    width: 200px;
    background-color: royalblue;
}